<div>
  <h3>Site Location</h3>
  <ul>
    <li>{{ 'Country'|t }}: <span>{{ country }}</li>
    <li>{{ 'City'|t }}: {% if city%}<span>{{ city }}</span>{% endif %}</li>
    <li>{{ 'Timezone'|t }}: <span>{{ timezone }}</span></li>
    <li>{{ 'Time'|t }}: <span>{{ time }}</span></li>
  </ul>
</div>
